@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "测试页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Newtonsoft.Json

<link rel="stylesheet" href="~/module/patientvte/tech.css" />
<script src="~/module/patientvte/pdfout.js" asp-append-version="true"></script>
<div class="sys_tag" style="display: none;">
    测试PDF输出界面
</div>
<div style="display: none;"> 入参信息：</div>
<div id="parin" style="display: none;"></div>
<div>
    <input type="text" placeholder="Pid" id="pid" value="" autocomplete="off" />
    <input type="text" placeholder="Pvid" id="pvid" value="" autocomplete="off" />

    <button class="btn"  onclick="GetDataByPid()" style="float: left;background-color: #ced1e2;">获取数据</button>
    <button class="btn"  onclick="SetDataToPdf()" style="float: left;background-color: #ced1e2;">输出数据</button>

</div> 

<div id="inputarea">

</div>
<div class="eleAdviceThirdPage">
    <div id="pdfout">
        <table id="pdfouttable" class="table" style="width: 100%;"></table>
    </div>
</div>

<script>
    var _mvcData = @Html.Raw(JsonConvert.SerializeObject(ViewBag.BaseData));
    //alert(JSON.stringify(_mvcData));
    setTimeout(function () {
        $("#parin").html(JSON.stringify(_mvcData));
    },100);
</script>




