.hjy_iframe {
    width: 100%;
    height: 100%;
}

.eleAdviceThirdPage {
    height: 740px;
}

.url_txt {
    padding: 0px;
    margin: 0px;
}

#RefleshIF {
    border: 2px;
    color: #e5d6d6;
    background-color: #0fa90f;
}

table {
    border: 2px solid #333;
    border-collapse: collapse;
}

thead th {
    border-bottom: 2px solid #666; /* 表头底部粗线 */
}

td {
    border: 1px solid #ccc; /* 数据单元格细线 */
}

.table-bordered {
    border: 2px solid #dee2e6 !important; /* 加深外边框 */
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ced4da !important; /* 调整单元格边框颜色 */
    }
