@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>test网页</p>

<textarea type="text" name="" id="demo" value=""></textarea>
<button type="button" id="btn">发送</button>
<div id="res">接收到的zlhis端消息显示区域</div>
<button type="button" id="btnEx">发送固定测试消息</button>

<div class="col-4">
    <label>PDF输入测试,病人ID，主页ID</label>
    

    <input id="pid" type="text" class="form-control form-control-sm col" autocomplete="off" />
    <input id="pvid" type="text" class="form-control form-control-sm col" autocomplete="off" />

    <button class="btn" id="get_data" style="float: left;background-color: #ced1e2;">获取清单</button>
    <button class="btn" id="output_data" style="float: left;background-color: #ced1e2;">输出PDF</button>
</div>